.product-Conteiner {
    display: flex;
    justify-content:center; 
    flex-direction: row;
}

.product-picture {
    width: 221px;
    height: 150px;

    border: 1px solid;

}

.product-info {
    margin-right: 19px;
}

.btn-main-produtos{
    display: flex;
    justify-content: center;
}

.btnComprar{
    background: white ;
    border: 2px solid gray ;
    outline-style: none ;
    border-radius: 9px;
    padding: 10px 40px 10px 40px;
    margin-right: 20px;
    margin-bottom: 45px;
}